<!-- prettier-ignore -->
{% extends "layouts/base.html" %}

{% block title %}Nonce Guess{% endblock %}

{% block content %}

<div class="antialiased text-gray-900 px-6">
  <div class="max-w-xl mx-auto py-6 md:max-w-4xl">
    <div class="py-6">
      <h1 class="text-4xl font-bold">
        <img src="../assets/apple-touch-icon.png" width="75" height="75" />
        <br />Guess the Block Nonce
      </h1>
    </div>
  </div>
</div>

{% if let Some(target) = target %} {% include "fragments/target.html" %} {% else
if change_target %}
<p>change target!</p>
{% endif %} {% if my_guess.is_none() %} {% include "fragments/my_guess.html" %}
{% endif %} {% include "fragments/guesses.html" %}

<div class="max-w-xl mx-auto py-6 divide-y md:max-w-4xl">
  <div class="mt-8 gap-6">
    <button
      type="submit"
      hx-get="/logout"
      hx-push-url="/"
      class="rounded-md bg-indigo-600 px-2.5 py-1.5 text-base font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
    >
      Logout
    </button>
  </div>
</div>

{% endblock %}
