<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/main.css" rel="stylesheet">
    <link href="/assets/inter.css" rel="stylesheet">
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/site.webmanifest" />
    <title>{% block title %}{{ title }}{% endblock %}</title>
    {% block scripts %}
    <script src="/assets/htmx.min.js"></script>
    {% endblock %}
    {% endblock %}
  </head>
  <body>
    <div id="content">
      {% block content %}
      <p>Placeholder content</p>
      {% endblock %}
    </div>
  </body>
  <footer>
    {% block footer %}
    {% endblock %}
  </footer>
</html>
