{% if !add_guess && !guesses.is_empty() %}
<div class="flex items-center">
  <div class="sm:flex-auto">
    <h2 class="text-grey-900 text-lg leading-6 font-semibold">
      Current Guesses
    </h2>
  </div>
</div>
<div>
  <div>
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
      <div
        class="ring-opacity-5 overflow-hidden ring-1 shadow-sm ring-black sm:rounded-lg"
      >
        <table class="min-w-full divide-y divide-gray-300">
          <thead class="bg-gray-50">
            <tr>
              <th
                scope="col"
                class="px-3 py-3 pr-3 pl-3 text-left text-base font-semibold text-gray-900"
              >
                #
              </th>
              <th
                scope="col"
                class="px-3 py-3 pr-3 pl-3 text-left text-base font-semibold text-gray-900"
              >
                Name
              </th>
              <th
                scope="col"
                class="px-3 py-3 pr-3 pl-3 text-left text-base font-semibold text-gray-900"
              >
                Hex
              </th>
              <th
                scope="col"
                class="px-3 py-3 pr-3 pl-3 text-left text-base font-semibold text-gray-900"
              >
                Decimal
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white">
            {% for guess in guesses.iter().enumerate() %}
            <tr>
              <td
                class="py-4 pr-3 pl-4 font-mono text-base font-medium whitespace-nowrap text-gray-900 sm:pl-6"
              >
                {{ guess.0 }}
              </td>
              <td class="px-3 py-4 text-base whitespace-nowrap text-gray-500">
                {{ guess.1.name }}
              </td>
              <td
                class="px-3 py-4 font-mono text-base whitespace-nowrap text-gray-500"
              >
                {{ guess.1.hex }}
              </td>
              <td
                class="px-3 py-4 font-mono text-base whitespace-nowrap text-gray-500"
              >
                {{ guess.1.decimal }}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endif %}
