<section
  id="register_form"
  class="flex scroll-mt-10 flex-col items-center justify-center gap-4 p-6"
>
  <form id="group" novalidate hx-post="/register">
    <div class="mb-1 mt-6">
      <label
        class="text-l text-left font-bold text-slate-900 dark:text-white"
        for="username"
      >Name</label>
      <input
        id="username"
        class="peer mt-2 block w-60 rounded-md py-1.5 text-gray-900 shadow-sm ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 dark:bg-gray-900 dark:text-white dark:ring-black invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500"
        name="username"
        type="text"
        autocomplete="username"
        required
        placeholder=" "
        pattern="[0-9a-zA-Z_]{3,20}"
      />
      <div
        class="hidden w-60 gap-6 py-1.5 font-semibold leading-6 text-red-600 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block"
      >
        <p id="name_error_message">
          Must be 3-20 characters and only include A-Z, 0-9, and underscore.
        </p>
      </div>
    </div>
    <div class="relative mb-1 mt-6">
      <label
        class="text-l text-left font-bold text-slate-900 dark:text-white"
        for="password"
      >Password</label
      >
      <input
        id="password"
        class="peer mt-2 block w-60 rounded-md py-1.5 text-gray-900 shadow-sm ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 dark:bg-gray-900 dark:text-white dark:ring-black invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500"
        name="password"
        type="password"
        autocomplete="off"
        required
        placeholder=" "
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&#^_])[A-Za-z\d@$!%*?&#^_]{8,20}"
      />
      <button id="show" name="show" type="button" hx-on:click="togglePassword('show','password')">
        Show
      </button>
      <div
        class="hidden w-60 gap-6 py-1.5 font-semibold leading-6 text-red-600 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block"
      >
        <p id="password_error_message">
          Must be 8-20 characters and include at least one uppercase, one
          lowercase, one number, and one special character [ @ $ ! % * ? & # ^ _
          ].
        </p>
      </div>
      <div class="mb-1 mt-6">
        <label
          class="mt-6 text-l text-left font-bold text-slate-900 dark:text-white"
          for="password_confirm"
        >Confirm Password</label
        >
        <input
          id="password_confirm"
          class="peer mt-2 block w-60 rounded-md py-1.5 text-gray-900 shadow-sm ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 dark:bg-gray-900 dark:text-white dark:ring-black invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500"
          name="password_confirm"
          type="password"
          autocomplete="off"
          required
          placeholder=" "
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&#^_])[A-Za-z\d@$!%*?&#^_]{8,20}"
        />
        <button id="show_confirm" name="show_confirm" type="button"
                hx-on:click="togglePassword('show_confirm','password_confirm')">
          Show
        </button>
      </div>
      {% if let Some(next) = next %}
      <input type="hidden" name="next" value="{{next}}" />
      {% endif %}
    </div>
    <div class="mt-6 flex items-center justify-center gap-x-6">
      <button
        class="flex justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-gray-100 shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 group-invalid:pointer-events-none group-invalid:opacity-30"
        type="submit"
      >
        Register
      </button>
      <button
        class="flex justify-center rounded-md bg-indigo-300 px-3 py-1.5 text-sm font-semibold leading-6 text-gray-900 shadow-sm hover:bg-indigo-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 group-invalid:pointer-events-none group-invalid:opacity-30 dark:bg-indigo-300 dark:hover:bg-indigo-200"
        onclick="window.location.href='/login';"
      >
        Cancel
      </button>
    </div>
  </form>
  <div class="gap-6 py-1.5 font-semibold leading-6 text-green-600">
    <p id="flash_message"></p>
  </div>
</section>