{% extends "base.html" %} {% block title %}Register{% endblock %} {% block content
%}
<section
  id="login"
  class="mb-6 flex scroll-mt-10 flex-col-reverse items-center justify-center gap-8 p-6">
  <article>
    <h2
      class="max-w-md text-center text-4xl font-bold text-slate-900"
    >
      Guess the
      <span class="text-indigo-700">Block Nonce </span>
      Win a Prize!
    </h2>
  </article>
  <img
    class="h-20 w-auto"
    src="../assets/apple-touch-icon.png"
    alt="Nonce Guess Logo"
  />
</section>
<section
  id="register_form"
  class="flex scroll-mt-10 flex-col items-center justify-center gap-4 p-6"
>
  <form id="group" novalidate hx-post="/register">
    <div class="mb-1 mt-6">
      <label
        class="text-l text-left font-bold text-slate-900"
        for="username"
      >Name</label>
      <input
        id="username"
        class="peer mt-2 block w-60 rounded-md p-1.5 ring-1 text-gray-900 shadow-xs ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500"
        name="username"
        type="text"
        autocomplete="username"
        required
        placeholder=" "
        pattern="[0-9a-zA-Z_]{3,20}"
      />
      <div
        class="hidden w-60 gap-6 py-1.5 font-semibold leading-6 text-red-600 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block"
      >
        <p id="name_error_message">
          Must be 3-20 characters and only include A-Z, 0-9, and underscore.
        </p>
      </div>
    </div>
    <div class="relative mb-1 mt-6">
      <label
        class="text-l text-left font-bold text-slate-900"
        for="password"
      >Password</label
      >
      <input
        id="password"
        class="peer mt-2 block w-60 rounded-md ring-1 p-1.5 text-gray-900 shadow-xs ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500"
        name="password"
        type="password"
        autocomplete="off"
        required
        placeholder=" "
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&#^_])[A-Za-z\d@$!%*?&#^_]{8,20}"
      />
      <button id="show" name="show" tabindex="-1" type="button" hx-on:click="togglePassword('show','password')">
        Show
      </button>
      <div
        class="hidden w-60 gap-6 p-1.5 font-semibold leading-6 text-red-600 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block"
      >
        <p id="password_error_message">
          Must be 8-20 characters and include at least one uppercase, one
          lowercase, one number, and one special character [ @ $ ! % * ? & # ^ _
          ].
        </p>
      </div>
      <div class="mb-1 mt-6">
        <label
          class="mt-6 text-l text-left font-bold text-slate-900"
          for="password_confirm"
        >Confirm Password</label
        >
        <input
          id="password_confirm"
          class="peer mt-2 block w-60 rounded-md p-1.5 ring-1 text-gray-900 shadow-xs ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500"
          name="password_confirm"
          type="password"
          autocomplete="off"
          required
          placeholder=" "
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&#^_])[A-Za-z\d@$!%*?&#^_]{8,20}"
        />
        <button id="show_confirm" name="show_confirm" tabindex="-1" type="button"
                hx-on:click="togglePassword('show_confirm','password_confirm')">
          Show
        </button>
      </div>
    </div>
    <div class="mt-6 flex items-center justify-center gap-x-6">
      <button
        class="flex justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-gray-100 shadow-xs hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 group-invalid:pointer-events-none group-invalid:opacity-30"
        type="submit"
      >
        Register
      </button>
      <button
        class="flex justify-center rounded-md bg-indigo-300 px-3 py-1.5 text-sm font-semibold leading-6 text-gray-900 shadow-xs hover:bg-indigo-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 group-invalid:pointer-events-none group-invalid:opacity-30"
        onclick="history.back()"
      >
        Cancel
      </button>
    </div>
  </form>
  <div class="gap-6 py-1.5 font-semibold leading-6 text-green-600">
    <p id="flash_message"></p>
  </div>
</section>
<script>
  function togglePassword(button_name, password_name) {
    let show = document.querySelector("button[name=" + button_name + "]");
    let password = document.querySelector("input[name=" + password_name + "]");
    if (password.getAttribute("type") === "password") {
      password.setAttribute("type", "text");
      show.innerHTML = "Hide";
    } else {
      password.setAttribute("type", "password");
      show.innerHTML = "Show";
    }
  }
</script>
{% endblock %}
